
body {
  overflow: hidden; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #050510, #120020);
  font-family: fantasy, copperplate;
}

canvas {
    display: block; 
    border: 2xp solid white;
    box-shadow: 0 0 20px cyan;  
}
